* {
    padding: 0;
    margin: 0;
}
/* 
////////////////////////////////////
mobile version 
///////////////////////////////////*/
body {
   
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    background-color: red;
    width: 100%;
    

    display: flex;
}

.top-content {
    background-color: #FFFFFF;
    width: 100%;
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerText {
    /* border: rgb(60, 60, 100) solid 2px; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.topTextTitle {
    /* border: red solid 2px; */
    width: 80%;
    color: #252D38;
    font-size: 2rem;

    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
}

.topText {
    /* border: green solid 2px; */

    color: #90989B;
    width: 80%;

    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-bottom: 6rem;

    text-align: start;
}

.container-picks {
    /* border: black solid 2px; */
    background: url();
    
    background-repeat: no-repeat;
    background-position: left;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: black dashed 3px;
    background: rgb(68,55,207);
    background: linear-gradient(90deg, rgba(68,55,207,1) 0%, rgba(249,113,163,1) 100%);
    border-radius: 1.2rem 1.2rem 0rem 0rem;

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center; */
}

.container-picksGradient {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

picksbar-container {
    /* border: red solid 2px; */
    width: 100%;
    
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picksImage {
    width: 90%;
    margin-bottom: 5rem;
}

.container-photos {
    /* border: red solid 2px; */
    background-color: #F0F3F8;
    padding: 0.3rem;

    width: 70%;

    margin-top: 1rem;
    margin-left: 2rem;

    display: flex;
    

}

.containerGallery {
    /* border: pink dashed 3px; */
    width: 100%;
    height: 20rem;

    display: flex;
    justify-content: space-between;
}

.galleryColumnLeft {
    /* border: rgb(66, 33, 33) solid 2px; */
    width: 47%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerImgLeft {
    /* border: rgb(197, 142, 40) solid 3px; */

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgLeft {
    /* border: orange solid 4px; */
    background-image: url(images/Screenshot\ from\ 2023-05-30\ 12-23-47.png);
    
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 10rem;
  
}

.textImageLeft {
    /* background-color: red; */
    width: 100%;
    height: 1.5rem;

    display: flex;
}

.galleryColumnRight {
    /* border: black solid 2px; */
    width: 47%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerImgRight {
    /* border: green solid 3px; */
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgRight {
    /* border: orange solid 4px; */
    background-image: url(images/Screenshot\ from\ 2023-05-30\ 12-25-18.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;

}

.textImageRight {
    /* background-color: blue; */

    width: 100%;
    height: 1.5rem;
}



.timer-container {
    /* border: red solid 3px; */
    width: 100%;

    margin-top: 5rem;
    margin-bottom: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.timerImage {
    width: 90%;
    height: auto;
}

.timerTextTitle {
    /* border: red solid 2px; */
    width: 90%;
    color: black;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.timerText1,
.timerText2,
.timerText3 {
    width: 90%;

    font-size: 1.2rem;
}

.timerButtonContainer {
   
    width: 90%;

    margin-top: 2rem;
    /* padding-left: 5rem; */

    display: flex;
    justify-content: start;
   

}

.lightbox {
    background-color: #594CDA;
    color: white;

    border-radius: 3rem 3rem;

    width: 7rem;
    height: 2.2rem;

    margin-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    border: black solid 1px;
    color: black;
    
    border-radius: 3rem 3rem;

    width: 7rem;
    height: 2.2rem;
}

.platformIntegration-container {
    width: 90%;

    margin-top: 5rem;

    display: flex;
    flex-direction: column;
}

.platformIntegrationTitle {

    display: flex;
}

.platformIntegrationText1 {
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;

}

.platformIntegrationText2 {
   
    margin-bottom: 2.2rem;

    display: flex;
}

.trending-container {

    width: 100%;

}

.trendingImage {
    /* border: red solid 2px; */
    width: 100%;

   
}

.numbersContainer {
   
    width: 90%;

    margin-bottom: 7rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row1 {
    
    width: 100%;

    display: flex;
    justify-content: center;
}

.number1 {
    
    width: 40%;
    height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.firstNb,
.secondNb,
.thirdNb,
.forthNb,
.fifthNb {
    text-align: center;
}

.firstNb span,
.secondNb span,
.thirdNb span,
.forthNb span,
.fifthNb span {
    font-size: 3rem;
    font-weight: 600;
}

.number2 {
    
    width: 40%;
    height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.row2 {
    width: 100%;

    display: flex;
    justify-content: center;
}

.number3 {
   
    width: 40%;
    height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.number4 {
    
    width: 40%;
    height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.number5 {
    /* border: red solid 2px; */
    width: 100%;
    height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.review-container {
    background-color: #F0FAFC;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.reviewTitle {
    width: 90%;

    font-size: 2.5rem;
    font-weight: 600;

    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;

    display: flex;
    justify-content: center;
    
}

.reviewGallery {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 6rem;
    height: 6rem;

    border-radius: 3rem 3rem;

    margin-bottom: 2rem;

    display: flex;
}

.reviewText {
    color: #6B747D;
    font-size: 1.3rem;
    font-style: italic;

    text-align: center;
}


/* 
////////////////////////////////////
desktop version 
///////////////////////////////////*/
@media screen and (min-width: 450px) {
    
    body {
        

        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .hero {
     

        display: flex;
    }


   .top-content {
    width: 100%;
        

    display: flex;
   }
}