* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
////////////////////////////////////
mobile version 
///////////////////////////////////*/
body {
    width: 100%;
 
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif;
}  

/* hero section  */
.hero {
    width: 100%;
    margin: 30px auto;
}

 .navbar {
  display:  flex;
  align-items: center;
  flex-direction:  row;
  justify-content: space-between;
  background-color: rgba(183, 226, 250, 0.295);
  margin: 0 20px;
  padding: 0 20px;
}


.navbar__logo {
 display: flex;
 align-items: center;
 gap: 10px;
 font-size: 12px;
 
 
}


.navbar__logo img  {
 width: 30px;
}

.navbar__links {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    
}
.navbar__links a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    
}


.navbar__socials {
    display: none;
}


.dropdown {
    float: left;
    overflow: hidden;
    color: black;

  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: all 0.5s ease-in;

  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: aqua;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar__closeBtn {
    font-size: 40px;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }

  /* Section one */
  .section__1 {
    margin: 0 20px;
    background-color: rgba(166, 221, 251, 0.861);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 40px 20px;
    gap: 30px;
    
  }

  
  .section__1 .section__text h1 {
     font-size: 40px;
     font-weight: bold;
    
  }

  
  .section__1 .section__text p {
    font-size: 20px;
    margin-top: 30px;
 }


  .btn-center  {
    font-size: 20px;
    padding:  20px 40px;
    border: none;
    border-radius: 40px;
    background-color: rgb(98, 98, 241);
    color: white;
   
  }

  .btn-center__red .bi {
    display: flex;
    gap: 10px;
    
  }
/* end of section one */


/* begin of section 2 */
.section__2 {

}


.btn-center__red  {
    font-size: 20px;
    padding:  20px 40px;
    border: none;
    border-radius: 40px;
    background-color: rgb(241, 55, 126);
    color: white;
   
  }

  .btn-center .bi {
    display: flex;
    gap: 10px;

/* 
////////////////////////////////////
desktop version 
///////////////////////////////////*/
@media screen and (min-width: 450px) {
    
    body {
        

        display: flex;
        flex-direction: column;
        align-items: center;
    }



    /* .hero {
     

        display: flex;
    } */


    .myPart {
       
        width: 100%;
        

        display: flex;
       
    }
}